.home {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.home__headers {

}

.home__body {
  flex: 1;
  overflow: auto;
  margin: 5px;
}

.home__footer {

}

.home__welcome-header{
  text-align: center;
}

.center-aligned{
  text-align: center;
}