@import "../../configurations/theme";


.footer {
  display: flex;
  justify-content: center;
  font-size: 150%;
  background-color: $secondary-bg-color;
}

.footer__item {
  padding: 20px;
  .footerLink {
    color: white;
    cursor: pointer;
  }
}


.selectedFooterLink {
  color: white;
  font-weight: bold;
  text-decoration-color: orange;
}