/*

scss features:

  Variables
  Nesting
  Partials and Import
  Mixins
  Extend/Inheritance
  Operators
*/

@import './configurations/theme';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

%common-app-styles {
  background-color: $tertiary-bg-color;
  margin: 5px + 5px + 5px+ 5px;
  border: 1px solid darkslateblue;

}


.app__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  @extend %common-app-styles;
  //
  //.app__router-container {
  //  display: flex;
  //  justify-content: center;
  //  border: 1px solid orangered;
  //  margin: 2px;
  //  padding: 20px;
  //  @include border-radius(10px);
  //  @extend %common-app-styles
  //}

}

.error-container{
  color: red;
}